<article class="media-item">
  <h2>{{ mediaItem.name }}</h2>

  <div class="media-details">
    <ng-template [ngIf]="mediaItem.watchedOn">
      <p>Watched on {{ mediaItem.watchedOn | date }}</p>
    </ng-template>
    <p class="label category">{{ mediaItem.category }}</p>
    <p>{{ mediaItem.year }}</p>
  </div>

  <div class="tools">
    <i [mwFavorite]="mediaItem.isFavorite" class="favorite fas fa-heart"></i>
    <a (click)="onDelete()" class="delete">Remove</a>
    <a class="details">Watch</a>
  </div>
</article>
