:host {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 200px;
  border: 2px solid;
  border-radius: 5px;
  background-color: #f7a9a8;
  padding: 15px;
  color: #fff;
  margin: 0 12px 12px 0;
  position: relative;
}

:host-context(.medium-movies) .label {
  background-color: #7d82b8;
}

:host-context(.medium-series) .label {
  background-color: #ef798a;
}

:host(.medium-movies) {
  border-color: #7d82b8;
}

:host(.medium-movies) > h2 {
  color: #7d82b8;
}

:host(.medium-series) {
  border-color: #ef798a;
}

:host(.medium-series) > h2 {
  color: #ef798a;
}

h2 {
  margin: 5px 0;
  font-size: 1.6em;
  flex: 1;
  min-height: 75px;
}

p {
  margin: 0;
  font-size: 0.9rem;
}

.category {
  margin-left: -6px;
}

.tools {
  position: absolute;
  bottom: 15px;
  margin-top: 10px;
  display: flex;
}

.favorite {
  margin-right: 16px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

.favorite.is-favorite {
  color: #37ad79;
}

.favorite.is-favorite-hovering {
  color: #45bf94;
}

.favorite.is-favorite.is-favorite-hovering {
  color: #ec4342;
}

.delete {
  margin-right: 16px;
  background-color: #ec4342;
  padding: 4px 7px;
  font-size: 0.8em;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.details {
  background-color: #37ad79;
  padding: 4px;
  font-size: 0.8em;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}
