:host {
  display: flex;
  box-sizing: content-box;
  height: 100%;
  flex-direction: column;
  padding: 10px;
}

nav a {
  cursor: pointer;
}

header {
  color: #fff;
  margin-left: 20px;
}

header.medium-movies {
  color: #7d82b8;
}

header.medium-series {
  color: #ef798a;
}

header > h2 {
  font-size: 1.4em;
}

header > h2.error {
  color: #d93a3e;
}

section {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin: 20px;
}

section > media-item {
  margin: 10px;
}

footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
}

footer .icon {
  font-size: 26px;
  color: #7d82b8;
  background-color: #fff;
  border-radius: 50%;
  padding: 15px 16.625px;
}
